## BACKEND ENV SAMPLE
#DB CONFIG
DB_USERNAME=USERNAME
DB_PASSWORD=PASSWORD
DB_NAME=DB_NAME
DB_HOST=DB_HOST
DB_DIALECT=mysql
DB_HOST=127.0.0.1
DB_LOGGING=false
DB_SYNCHRONIZATION=false

#TOKEN CONFIG
JWT_SECRET_KEY=jwt_secret_key
ACCESS_TOKEN=3600
REFRESH_TOKEN=3000

#COMMON_SETUP
ENVIRONMENT=DEVELOPMENT
PASSWORD_ROUND=12

# APP CONFIG
FRONTEND_URL=http://localhost:3000
BACKEND_URL=http://localhost:8000
APP_PORT=8000
CORS_ORIGIN=https://localhost:3000


## FRONTEND ENV SAMPLE
NEXT_PUBLIC_API_URL=http://localhost:8000
